<ion-header [translucent]="true" >
	<ion-toolbar>
		<ion-buttons slot="start">
			<a (click)="getElections()"><img src="/assets/images/arrow.png" class="arrow"></a>
			<!-- <ion-menu-button color="light"></ion-menu-button> -->
		</ion-buttons>
		<ion-title slot='secondary' color='light'>All Votings</ion-title>
		<ion-title slot='end'>
     
      	<img src="https://netahub.com/images/user/{{profilepic}}" class="profile-image" [routerLink]="['/profile']">
      
    </ion-title>
	</ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">{{ Nominies }}</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content>


		<section>
		<div class="nomini-head"></div>
<div class="background-section"></div>

			<div class="section-text">
				<div class="section-nomini">
					<div class="row">

						<div class="col-12 col-sm-6 col-lg-4 nomini-section">
							<div class="row">
								<div class="col-3 nomini">
									<p class="date">26 June</p>
									<h3>2019</h3>
								</div>
								<div class="col-9 nomini-text">
									<div class="row">
										<div class="col-12 col-sm-12">
											<h4>Vidhan Parishad Elections</h4>
										</div>
										<div class="col-12 col-sm-12 history">
											<div class="row">
												<div class="col-sm-3 col-3 profile-img">
													<img src="/assets/images/profile_pic.png" class="nomini-images">			
												</div>
												<div class="col-sm-6 col-6 nomini-name">
													<p>Alok Nath</p>
												</div>
												<div class="col-sm-3 col-3">
													<div class="btn-voted">
														BJP
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 nomini-section">
							<div class="row">
								<div class="col-3 nomini">
									<p class="date">26 June</p>
									<h3>2019</h3>
								</div>
								<div class="col-9 nomini-text">
									<div class="row">
										<div class="col-12 col-sm-12">
											<h4>Vidhan Parishad Elections</h4>
										</div>
										<div class="col-12 col-sm-12 history">
											<div class="row">
												<div class="col-sm-3 col-3 profile-img">
													<img src="/assets/images/profile_pic.png" class="nomini-images">			
												</div>
												<div class="col-sm-6 col-6 nomini-name">
													<p>Alok Nath</p>
												</div>
												<div class="col-sm-3 col-3">
													<div class="btn-voted">
														BJP
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 nomini-section">
							<div class="row">
								<div class="col-3 nomini">
									<p class="date">26 June</p>
									<h3>2019</h3>
								</div>
								<div class="col-9 nomini-text">
									<div class="row">
										<div class="col-12 col-sm-12">
											<h4>Vidhan Parishad Elections</h4>
										</div>
										<div class="col-12 col-sm-12 history">
											<div class="row">
												<div class="col-sm-3 col-3 profile-img">
													<img src="/assets/images/profile_pic.png" class="nomini-images">			
												</div>
												<div class="col-sm-6 col-6 nomini-name">
													<p>Alok Nath</p>
												</div>
												<div class="col-sm-3 col-3">
													<div class="btn-voted">
														BJP
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>

						
					</div>
				</div>

			</div>
		</section>
	</ion-content>
