ion-header, ion-toolbar { 
	--background: linear-gradient(#00cfcf,#00cfef) !important;
 }

 ion-back-button { display: block; }

 ion-title{
  color: #000000;
  font-weight: bold;
}


 .arrow { height: 25px;
 width: auto;}

 .nomini-name{ 
    border-radius: 5px;
    //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
 }

.nomini-name {
    height: 100% !important;
}

 .nomini-name p  {  
 font-size: 13px;
 padding-top: 5px;
 margin-left: 5px;
}

  .btn-not-voted {
     background-image: linear-gradient(#ff0000, #ff0000); 
 }

 .btn-voted {
     background-image: linear-gradient(#00cccc, #00cced);
 }

.nomini { text-align: center !important;}

.nomini h3 {
    
    margin-top : 0 !important;
}

.nomini p {
    text-align:center;
    font-size : 12px;
    margin-bottom : 0 !important;
}

.history .nomini-images {
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    margin: 0;
    //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

 .btn-voted{
    /* text-align: center; */
    color: #ffffff;
    border: none;
    position: absolute;
    border-radius: 20px !important;
    width: auto;
    right: 0;
    top: 15px;
    padding: 2px 10px;
    text-align: center;
    font-size: 12px;
 }

.nomini-text h4 {
    margin-top: 10px;
    margin-bottom: 0 !important;
    font-size: 15px;
    font-weight: 600;
}

.background-section{
    background-image: linear-gradient(#00cfcf, #00cfef) !important;
    position: absolute;
    z-index:0;
    top: 0;
    height: 20vh;
    width: 100%;
}

.nomini .date {
    padding-top: 15px;
}
