<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
    	<ion-back-button  (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title slot='secondary' color='light'>Feedback</ion-title>

    <ion-title slot='end'>
     
      	<img src="https://netahub.com/images/user/{{profilepic}}" class="profile-image" [routerLink]="['/profile']">
      
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<div class="top">

			<!-- <h2><b>NETA</b>HUB</h2> -->

			<img src="/assets/images/netahub.png" class="img-responsive netahub">
		</div>


		<div class="section-register">

			<div class="section-mid">
				<form method="post" >


					<div class="input-text">
					<label>Feedback</label>
						<div class="row">
							<div class="col-9 col-sm-9 col-lg-9">
								<ion-textarea [(ngModel)]="requestData.feedback_desc" rows="6" class="input-1" name="user_name" placeholder="Write your feedback"></ion-textarea>			
							</div>
							<div class="col-3 col-sm-3 col-lg-3 phone-icon">								
								<i class='fas fa-user' style='font-size:16px; '></i>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="next-button">
							<button  (click)="sendPostRequest()" class="btn-next">Submit</button>
						</div>
					</div>
				</form>
				<br>
			</div>
		</div>		
</ion-content>