<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons>
    	<ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title slot='secondary' color='dark'>FAQs</ion-title>
    <ion-title slot='end'>
     
        <img src="https://netahub.com/images/user/{{profilepic}}" class="profile-image" [routerLink]="['/profile']">
      
    </ion-title>
 </ion-toolbar>
</ion-header>

<ion-content padding>
	<div style="margin: auto;padding:10px;">
		
		<div style="padding-bottom: 10px;" class="section-main" *ngFor="let faq of faqlist">
			<h5>{{faq.faq_id}}. {{faq.question}}</h5>   
			<ion-text rows="3">{{faq.answer}}</ion-text>       
	    </div>
	</div>

</ion-content>
