ion-header, ion-toolbar { 
	--background: linear-gradient(#00cfcf,#00cfef) !important;
 }

ion-back-button { display: block; }

			ion-title{
  color: #000000;
  font-weight: bold;
}


.section-main h5{
	width: 100%;
	background: linear-gradient(#6ff1f1,#a6d3da) !important;
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
}

.section-main ion-text{
	padding: 0px 15px;
}