ion-header, ion-toolbar { 
	--background: linear-gradient(#00cfcf,#00cfef) !important;
 }

 ion-back-button { display: block; }

 ion-title{
  color: #000000;
  font-weight: bold;
}


 .arrow { height: 25px;
 width: auto;}

 .history {
 text-align: right;
 }

  .btn-not-voted {
     background-image: linear-gradient(#ff0000, #ff0000); 
 }

 .btn-voted {
     background-image: linear-gradient(#00cccc, #00cced);
 }


.section-nomini .nomini-images {
    width: 100%;
    height: auto;
    margin: 10px 0 5px;
}

 .btn-voted, .btn-not-voted {
    /* text-align: center; */
    color: #ffffff;
    border: none;
    position: absolute;
    border-radius: 20px !important;
    width: 120px;

    right: 0;
    top: 0;
    bottom: 2px;
    padding: 1px;
    text-align: center;
    font-size: 14px;
 }

 .btn-voted img, .btn-not-voted img {
 width: 15px; height: 15px;
 margin-left: 5px;

 }


 .nomini-text h4 {
    margin-top: 10px;
    margin-bottom: 0 !important;
    font-size: 16px;
    font-weight: 600;
}

.nomini-text h6 {
    margin-top: 0px !important;
    margin-bottom: 2 !important;
    font-size: 12px;
}