<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
    	<a (click)="getElections()"><img src="/assets/images/arrow.png" class="arrow"></a>
      <!-- <ion-menu-button color="light"></ion-menu-button> -->
    </ion-buttons>
    <ion-title slot='secondary' color='light'>History</ion-title>
    <ion-title slot='end'>
     
      	<img src="https://netahub.com/images/user/{{profilepic}}" class="profile-image" [routerLink]="['/profile']">
      
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ Nominies }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

<!-- <div class="nomini-head"></div> -->

<section>
		<div class="background-section"></div>

		<div class="section-text">
			<div class="section-nomini">
				<div class="row">

					<div class="col-12 col-sm-6 col-lg-4 nomini-section">
						<div class="row">
							<div class="col-3 nomini">
								<img src="/assets/images/vidhanparishad.png" class="nomini-images">
							</div>
							<div class="col-9 nomini-text">

								<div class="row">
									<div class="col-12 col-sm-12">
										<h4>Vidhan Parishad Elections</h4>
										<h6>10 November, 2019</h6>
									</div>
									<div class="col-12 col-sm-12 history">
										<br>
										<div class="btn-voted">
											Voted
											<img src="assets/images/right.png">
											<!-- <ion-icon name="checkmark"></ion-icon> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-lg-4 nomini-section">
						<div class="row">
							<div class="col-3 nomini">
								<img src="/assets/images/vidhansabha.png" class="nomini-images">
							</div>
							<div class="col-9 nomini-text">

								<div class="row">
									<div class="col-12 col-sm-12">
										<h4>Vishan Sabha Elections</h4>
										<h6>27 June, 2019</h6>
									</div>
									<div class="col-12 col-sm-12">
										<br>
										<div class="btn-voted">
											Voted
											<img src="assets/images/right.png">
											<!-- <ion-icon name="checkmark"></ion-icon> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-lg-4 nomini-section">
						<div class="row">
							<div class="col-3 nomini">
								<img src="/assets/images/legislative.png" class="nomini-images">
							</div>
							<div class="col-9 nomini-text">

								<div class="row">
									<div class="col-12 col-sm-12">
										<h4>Lok Sabha Elections</h4>
										<h6>27 June, 2019</h6>
									</div>
									<div class="col-12 col-sm-12">
										<br>
										<div class="btn-not-voted">
											Not Voted
											<img src="assets/images/wrong.png">
											<!-- <ion-icon name="close"></ion-icon> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

</div>
</section>
</ion-content>
