<!-- <ion-header>
  <ion-toolbar>
    <ion-title>otp</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content>

	<div class="top">
		<img src="/assets/images/netahub.png" class="img-responsive netahub">
	</div>


	<div class="section-login">

		<div class="section-mid">
			<form action="" class="form-otp">
				<h4>Enter 6 digit OTP</h4>
				<div class="input-text-top">
					<div class="row otp-number">
						<div class="col-sm-2 col-2">
							<ion-input type="text" class="otp-input" name="otp[]" value="0"></ion-input>
						</div>
						<div class="col-sm-2 col-2">
							<ion-input type="text" class="otp-input" name="otp[]" value="0"></ion-input>
						</div>
						<div class="col-sm-2 col-2">
							<ion-input type="text" class="otp-input" name="otp[]" value="0"></ion-input>
						</div>
						<div class="col-sm-2 col-2">
							<ion-input type="text" class="otp-input" name="otp[]" value="0"></ion-input>
						</div>
						<div class="col-sm-2 col-2">
							<ion-input type="text" class="otp-input" name="otp[]" value="0"></ion-input>
						</div>
						<div class="col-sm-2 col-2">
							<ion-input type="text" class="otp-input" name="otp[]" value="0"></ion-input>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="next-button">
						<button type="submit" (click)="getNomini()" class="btn-next">Next</button>
					</div>
				</div>
			</form>
			<br>
		</div>
	</div>

	<div class="bottom-otp">

		<h6>Already have an account? <b><a (click)="getLogin()">Login</a></b></h6>
	</div>
</ion-content>
