<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
    	<ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title slot='secondary' color='light'>All Nominies</ion-title>
    <ion-title slot='end'>
     
      	<img src="https://netahub.com/images/user/{{profilepic}}" class="profile-image" [routerLink]="['/profile']">
      
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ Nominies }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<section>
<div class="background-section"></div>
		

		<div class="section-text">
			<div class="section-nomini">
				<div class="row">

					<div *ngFor="let nominee of nomineeData" class="col-12 col-sm-6 col-lg-4 nomini-section">
						<div class="row">
							<div class="col-3 nomini" (click)="getNomineeDetails(nominee)">
								<img *ngIf="nominee.photo_path != ''" src="https://netahub.com/images/user/{{nominee.photo_path}}" class="nomini-images">
								<img *ngIf="nominee.photo_path == ''" src="/assets/images/user.png" class="nomini-images">
							</div>
							<div  class="col-9 nomini-text">

								<div class="row">
									<div class="col-7 col-sm-7" (click)="getNomineeDetails(nominee)">
										<h4>{{nominee.nominee_name}}</h4>
										<h6>{{nominee.party_name}}</h6>
									</div>
									<div class="col-5 col-sm-5 ">
										<div class="vote-buttons">
										<a *ngIf="nominee.voted == 1"  class="btn-voted">Voted</a>
										<a *ngIf="nominee.voted == 0"  (click)="castVote(nominee.nominee_id, nominee.survey_id)" class="btn-vote">Vote</a>
										<button style="width: 70%" 
                      class="btn-vote"
                      (click)="shareApp(election.message)"
                    >
                      <img src="/assets/images/share.png" width="15" height="15" alt="Share">
                    </button>
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

</div>
</section>
</ion-content>
