ion-header, ion-toolbar { 
	--background: linear-gradient(#00cfcf,#00cfef) !important;
 }

ion-back-button { display: block; }

 .arrow { height: 25px;
 width: auto;}

 ion-title{
  color: #000000;
  font-weight: bold;
}

.nomini-images{
	display: flex;
	border-radius: 50%;
	width: 60px;	
	height: 60px;	
}
.vote-buttons{
	margin-top: 12px;
}