<ion-header [translucent]="true" >
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button (click)="goBack()"></ion-back-button>
		</ion-buttons>
		<ion-title slot='secondary' color='light'>Survey Name</ion-title>
		<ion-title slot='end'>
     
      	<img src="https://netahub.com/images/user/{{profilepic}}" class="profile-image" [routerLink]="['/profile']">
      
    </ion-title>
	</ion-toolbar>
</ion-header>



<ion-content>
	<div class="top">
		<img src="/assets/images/netahub.png" class="img-responsive netahub">
	</div>
	<div class="section-register">
		<div class="section-mid">
			
			
			<h3>Create {{election_name}} Survey</h3>
			
		</div>

		<div class="section-mid">





			<form method="post" >

				<div class="input-text">
					<label>Survey Name</label>
					<div class="row">
						<div class="col-9 col-sm-9 col-lg-9">
							<ion-input [(ngModel)]="requestData.survey" type="text" class="input-1" name="survey" placeholder="Enter Survey Name"></ion-input>		
						</div>
						<div class="col-3 col-sm-3 col-lg-3 phone-icon">								
							
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="next-button">
						<button ion-button (click)="sendPostRequest()" class="btn-next">{{btntext}}</button>
					</div>
				</div>
			</form>
			<br>
		</div>
	</div>
</ion-content>
