<ion-header [translucent]="true" >
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button (click)="goBack()"></ion-back-button>
		</ion-buttons>
		<ion-title slot='secondary' color='light'>Reports</ion-title>
		<ion-title slot='end'>
     
      	<img src="https://netahub.com/images/user/{{profilepic}}" class="profile-image" [routerLink]="['/profile']">
      
    </ion-title>
	</ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

	<div class="row settings">

    <!-- <div  class="col-6">
      <div class="sub-section">
        <ion-icon name="people-outline"></ion-icon>
        <br>
      <span > Nominee Analysis </span>
    </div>
</div> -->
	<div class="col-6">
<a href="/age-analysis">
		<div class="sub-section">
			<ion-icon name="ribbon-outline"></ion-icon>
			<br>
			<span > Age Analysis </span>
		</div>
</a>
	</div>

	<div  class="col-6">
<a href="/profession-analysis">
		<div class="sub-section">
			<ion-icon name="reader-outline"></ion-icon>
			<br>
			<span > Profession Analysis </span>
		</div>
</a>
	</div>
	<div  class="col-6" >
<a href="/location-analysis?location-type=Tehsil">
		<div class="sub-section">
			<i class="fa fa-map-marker"></i>
			<br>
			<span > Tehsil </span>
		</div>
</a>
	</div>

	<div  class="col-6">
<a href="/location-analysis?location-type=Village">
		<div class="sub-section">
			<ion-icon name="home-outline"></ion-icon>
			<br>
			<span> Village </span>
		</div>
</a>
	</div>


	<div  class="col-6">
<a href="/location-analysis?location-type=Ward">
		<div class="sub-section">
			<i class="fa fa-bank"></i>
			<br>
			<span> Ward </span>
		</div>
</a>
	</div>


	


	<div  class="col-6">
<a href="/location-analysis?location-type=Block">
		<div class="sub-section">
			<ion-icon name="location-outline"></ion-icon>
			<br>
			<span> Block </span>
		</div>
</a>
	</div>


	<div class="col-6">
<a href="/location-analysis?location-type=Nagar">
		<div class="sub-section">
			<i class="fa fa-group"></i>
			<br>
			<span> Nagar Panchayat </span>
		</div>
</a>
	</div>


	<div  class="col-6">
<a href="/gender-analysis">
		<div class="sub-section">
			<ion-icon name="woman-outline"></ion-icon>
			<br>
			<span> Gender Analysis </span>
		</div>
</a>
	</div>


	<div  class="col-6">
<a href="/location-analysis?location-type=District">
		<div class="sub-section">
			<i class="fa fa-map-marker"></i>
			<br>
			<span> District </span>
		</div>
</a>
	</div>


	<div  class="col-6">
<a href="/location-analysis?location-type=State">
		<div class="sub-section">
			<i class="  fa fa-fort-awesome"></i>
			<br>
			<span> State </span>
		</div>
</a>
	</div>


	<div  class="col-6">
<a href="/location-analysis?location-type=Country">
		<div class="sub-section">        
			<ion-icon name="globe-outline"></ion-icon>
			<br>
			<span> Country </span>
		</div>
</a>
	</div>


</div>

</ion-content>




<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reports</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-text>Coming Soon</ion-text>
</ion-content>
 -->