ion-header, ion-toolbar { 
  --background: linear-gradient(#00cfcf,#00cfef) !important;
 }

 ion-back-button { display: block; }

ion-title{
	color: #000;
	font-weight: bold;
}

ion-icon,i{
 font-size: 38px;
 }

 .settings{
 text-align: center;
 padding: 15px;
 }

 .sub-section{
 	border-radius: 5px;
 	//background: linear-gradient(#00cfcf,#00cfef) !important;
 	background: linear-gradient(#79efef, #cfe7ea) !important;
 	padding: 25px;
 	height: 130px;
 	margin-top: 25px;
 }

 span{
 font-weight: bold;
 font-size: 14px;
 }
 
.settings a{
	color: #000;
}
 .sub-section:hover{
 	background: #eee;
 }

 