
<ion-content>
<div class="top">

			<!-- <h2><b>NETA</b>HUB</h2> -->

			<img src="/assets/images/netahub.png" class="img-responsive netahub">
		</div>


		<div class="section-login">

			<div class="section-mid">
				<form>
					<label>Mobile Number</label>
					<div class="input-text">
						<div class="row">
							<div class="col-9 col-sm-9 col-lg-9">
								<ion-input [(ngModel)]="requestData.login" type="text" class="input-1" name="login" placeholder="Enter Mobile Number">	</ion-input>		
							</div>
							<div class="col-3 col-sm-3 col-lg-3 phone-icon">							
								<i class='fas fa-phone-alt' style='font-size:16px; '></i>
							</div>
						</div>
					</div>
					<label>Password</label>
					<div class="input-text">
						<div class="row">
							<div class="col-9 col-sm-9 col-lg-9">
								<ion-input [(ngModel)]="requestData.password" type="password" class="input-1" name="password" placeholder="Enter password">	</ion-input>		
							</div>
							<div class="col-3 col-sm-3 col-lg-3 phone-icon">							
								<i class='fas fa-phone-alt' style='font-size:16px; '></i>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="next-button">
							<button (click)="onSubmit()" class="btn-next">Login</button>
						</div>
					</div>
				</form>
				<br>
			</div>
		</div>

		<div class="bottom">
			
			<h6>Dont have an account? <b><a (click)="getRegister()">Create Now</a></b></h6>
			<h5 class="forgot"><b><a (click)="getForgot()">Forgot Password</a></b></h5>
		</div>
</ion-content>
