<ion-header [translucent]="true" >
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button (click)="goBack()"></ion-back-button>
		</ion-buttons>
		<ion-title slot='secondary' color='light'>Self Nominate</ion-title>
		<ion-title slot='end'>

			<img src="https://netahub.com/images/user/{{profilepic}}" class="profile-image" [routerLink]="['/profile']">

		</ion-title>
	</ion-toolbar>
</ion-header>






<ion-content>
	<div class="top">
		<img src="/assets/images/netahub.png" class="img-responsive netahub">
	</div>
	<div class="section-register">
		<div class="section-mid">
				<ion-item>
					<ion-label>Party Name</ion-label>
					<ion-select [(ngModel)]="party_id"  >
						<ion-select-option value="1">Independent</ion-select-option>
						<ion-select-option value="{{category.party_id}}" *ngFor="let category of categories">{{category.party_name}}</ion-select-option>

					</ion-select>
				</ion-item>

				<div class="row">
					<div class="">
						<button (click)="nominate()" class="btn-next">Submit</button>
					</div>
				</div>
			
		</div>
	</div>

</ion-content>
