ion-header, ion-toolbar { 
    --background: linear-gradient(#00cfcf,#00cfef) !important;
 }

ion-back-button { display: block; }

ion-title{
  color: #000000;
  font-weight: bold;
}


.btn-next {
    background-image: linear-gradient(#00cccc, #00cced);
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    border: none;
    border-radius: 40px !important;
    width: 100%;
    padding: 8px 11px;
    font-size: 16px;
    color: #fff;
}

