<!-- my-modal.page.html -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content >
 
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        {{modelId}}
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>