<ion-content>
  <ion-list>
    <ion-item (click)="wifiSetting()">
      Wifi
    </ion-item>
    <ion-item (click)="eventFromPopover()()">
      Information 2
    </ion-item>
    <ion-item (click)="logout()">
      Logout
    </ion-item>
  </ion-list>
</ion-content>
