<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title slot='secondary' color='light'>Dashboard</ion-title>
    <ion-title slot='end'>
     
        <img src="https://netahub.com/images/user/{{profilepic}}" class="profile-image" [routerLink]="['/profile']">
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header> -->


  <ion-card class="welcome-card" *ngFor="let canva of electiondata | keyvalue">
    <!-- <ion-card-header>
      <ion-card-title>{{canva.value.survey_name}}</ion-card-title> -->
      <!-- from date - to date -->
      <!-- total votes -->
      <!-- <ion-card-subtitle>From : {{canva.value.from_date}} - To : {{canva.value.to_date}}</ion-card-subtitle>
      <ion-card-subtitle>Total Votes : {{canva.value.total_vote_cnt}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> -->
      <app-chartboard [canva]='canva'></app-chartboard>
     
    <!-- </ion-card-content> -->
  </ion-card>
  <!-- <canvas #pr_chart1></canvas> -->
  

  

</ion-content>
