<ion-header [translucent]="true" >
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button (click)="goBack()"></ion-back-button>
		</ion-buttons>
		<ion-title slot='secondary' color='light'>Gender Analysis</ion-title>
		<ion-title slot='end'>

			<img src="https://netahub.com/images/user/{{profilepic}}" class="profile-image" [routerLink]="['/profile']">

		</ion-title>
	</ion-toolbar>
</ion-header>



<ion-content>
	<div class="top">







		<div class="row" >
			<div class="selection">




				<div class="row select-tab">
					<div class="col-4">
						
						<label >Survey</label>
						
					</div>
					<div class="col-8">
						<ion-select required [(ngModel)]="survey_id" (ngModelChange)="updatebtn()" name="survey_id" >
							<ion-select-option value="{{survey.survey_id}}" *ngFor="let survey of survey_list">{{survey.survey_name}}</ion-select-option>
						</ion-select>
					</div>
				</div>

				<div class="row select-tab">
					<div class="col-4">
						
						<label text-wrap>Nominee</label>
						
					</div>
					<div class="col-8">
						<ion-select required [(ngModel)]="nominee_id" (ngModelChange)="updateList()" name="nominee_id" >
							<ion-select-option value="{{survey.nominee_id}}" *ngFor="let survey of nominee_list">{{survey.nominee_name}}</ion-select-option>
						</ion-select>
					</div>
				</div>







		<!-- <ion-item>
			<ion-label>Survey</ion-label>
			<ion-select required [(ngModel)]="survey_id" (ngModelChange)="updatebtn()" name="survey_id" >
				<ion-select-option value="{{survey.survey_id}}" *ngFor="let survey of survey_list">{{survey.survey_name}}</ion-select-option>
			</ion-select>
		</ion-item>


		<ion-item>
			<ion-label>Nominee</ion-label>
			<ion-select required [(ngModel)]="nominee_id" (ngModelChange)="updateList()" name="nominee_id" >
				<ion-select-option value="{{survey.nominee_id}}" *ngFor="let survey of nominee_list">{{survey.nominee_name}}</ion-select-option>
			</ion-select>
		</ion-item> -->


</div>
</div>

	</div>


	<div class="section-register">

		<div class="constituency">


				<table class="table table-responsive ">
			<thead>
				<tr>
					<th>Gender</th>
					<th>Gender Vote</th>
					<th>Nominee Vote</th>
					<th>Nominee Vote %</th>
					<th>Survey Vote</th>
					<th>Survey Vote %</th>
					<th>Constituency Name</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let category of analysisreport">
					<td>{{category.gender}}</td>
					<td>{{category.occ_vote}}</td>
					<td>{{category.nominee_vote}}</td>
					<td>{{category.nominee_vote_per}}</td>
					<td>{{category.survey_vote}}</td>
					<td>{{category.survey_vote_per}}</td>
					<td>{{category.cons_name}}</td>
				</tr>
			</tbody>
		</table>








<!-- 
			<div class="row header2">
				<div class="col">Age</div>
				<div class="col">Gender Vote</div>
				<div class="col">Nominee Vote</div>
				<div class="col">Nominee Vote%</div>
				<div class="col">Survey Vote</div>
				<div class="col">Survey Vote%</div>
				<div class="col">Constituency Name</div>

			</div>
			<div class="row constituency-data" *ngFor="let category of analysisreport">
				<div class="col">{{category.gender}}</div>
				<div class="col">{{category.occ_vote}}</div>
				<div class="col">{{category.nominee_vote}}</div>
				<div class="col">{{category.nominee_vote_per}}</div>
				<div class="col">{{category.survey_vote}}</div>
				<div class="col">{{category.survey_vote_per}}</div>
				<div class="col">{{category.cons_name}}</div>

			</div> -->


		</div>

	</div>
</ion-content>
