ion-header, ion-toolbar { 
  --background: linear-gradient(#00cfcf,#00cfef) !important;
 }

ion-back-button { display: block; }

ion-menu-button {
  color: var(--ion-color-primary);
}

ion-text{
  font-size: 15px;
} 

h5{
  font-size: 19px;
}

p{
  font-size: 13px;
  text-align: justify;
}



ion-icon{
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px;
  margin-top: 49px;
background: #3880ff;
 }

#container {
  text-align: left;
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}


#container a {
  text-decoration: none;
}

ion-title{
  color: #000000;
  font-weight: bold;
}

.btn-vote{
  background-image: linear-gradient(#00cccc, #00cced);
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 20px !important;
    width: auto;
    padding: 7px 15px;
    font-size: 14px;
    margin-left: 5px;
    
}

.nominate{
  background: #97e6a9;
    text-align: center;
    color: #ffffff;
    border: none;
    /*margin-top: 10px;*/
    border-radius: 20px !important;
    width: auto;
    padding: 7px 15px;
    font-size: 14px;
    color: #000;
}

.nominated{
  background: #999;
    text-align: center;
    color: #ffffff;
    border: none;
    /*margin-top: 10px;*/
    border-radius: 20px !important;
    width: auto;
    padding: 7px 15px;
    font-size: 14px;
}

.survey{
   background: linear-gradient(#00cccc, #00cced);
   display: block;
    text-align: center;
    border: none;
    /*margin-top: 10px;*/
    border-radius: 20px !important;
    width: auto;
    padding: 7px 15px;
    font-size: 14px;
    color: #000;
}

.self-nominate{
   background: #e6a997;
    text-align: center;
    color: #ffffff;
    border: none;
    /*margin-top: 10px;*/
    border-radius: 20px !important;
    width: auto;
    padding: 7px 15px;
    font-size: 14px;
    color: #000;
}

.contribute{
   background: #97e6e2;
    text-align: center;
    color: #ffffff;
    border: none;
    /*margin-top: 10px;*/
    border-radius: 20px !important;
    width: auto;
    padding: 7px 15px;
    font-size: 14px;
    color: #000;
}

.buttons{
  list-style-type: none;
  margin:0 !important;
  padding: 0 !important;
}

.buttons li {
  float: left;
  /*width: 50%;*/
  text-align: right;
}