<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title slot="secondary" color="light">{{election}}</ion-title>
    <ion-title slot="end">
      <img
        src="https://netahub.com/images/user/{{user_photo}}"
        class="profile-image"
        [routerLink]="['/profile']"
      />
      <!-- <img src="../assets/images/default-user.png" class="profile-image" [routerLink]="['/profile']"> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{elections}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div id="container">
    <div class="background-section"></div>
    <div class="section-text">
      <div class="section-main" *ngFor="let election of electiondata">
        <a>
          <div
            class="row electionMain"
            [style.backgroundColor]="election.is_active == 1 ? 'white' : 'grey'"
          >
            <div class="col-4 col-sm-4 col-lg-3 text-center">
              <img
                src="https://netahub.com/images/{{election.election_image}}"
                class="home-images"
              />
              <button
                      class="btn-vote"
                      *ngIf="election.is_active == 1"
                      (click)="shareApp(election.message)"
                    >
                      <img src="/assets/images/share.png" width="15" height="15" alt="Share">
                    </button>
            </div>
            <!-- <div  class="col-7 col-sm-7 col-lg-8"> -->
            <div class="col-8 col-sm-8 col-lg-9">
              <h5
                (click)="showDetails(election.election_description, election.election_name)"
                [style.color]="election.is_eligible == 1 ? 'green' : 'black'"
              >
                <b>{{election.election_name}}</b>
              </h5>
              <ion-text
                (click)="showDetails(election.election_description, election.election_name)"
                [style.color]="election.is_eligible == 1 ? 'green' : 'black'"
                >{{election.cons_name}}</ion-text
              >
              <p
                (click)="showDetails(election.election_description, election.election_name)"
                class="balanced"
              >
                {{election.election_description.substring(0,80)}}...
              </p>

              <div>
                <!-- <div *ngIf="election.is_active == 1"> -->
                <ul class="buttons">
                  <li>
                    <button
                      class="nominate"
                      (click)="nominationOther(election)"
                      *ngIf="election.nomination_status==3"
                    >
                      Nominate
                    </button>
                  </li>
                  <li>
                    <a
                      class="contribute"
                      (click)="mapuser(election)"
                      *ngIf="election.is_enable==1"
                      >Contribute</a
                    >
                  </li>
                  <li>
                    <!-- <button class="nominated" [routerLink]="['/survey-name']" *ngIf=" election.nomination_status==2">Nominated</button> -->
                    <button
                      class="nominated"
                      *ngIf=" election.nomination_status==2"
                    >
                      Nominated
                    </button>
                  </li>
                  <li>
                    <button
                      class="survey"
                      (click)="createsurvey(election)"
                      *ngIf="election.to_create_survey==1"
                    >
                      Create Survey
                    </button>
                  </li>
                  <li>
                    <button
                      class="self-nominate"
                      (click)="nominationParty(election)"
                      *ngIf="election.nomination_status==1"
                    >
                      Self Nominate
                    </button>
                  </li>
                  <li>
                    <button
                      class="btn-vote"
                      *ngIf="election.is_active == 1"
                      (click)="getNominee(election.survey_id, election.is_active, election.is_eligible, election.cons_id)"
                    >
                      Cast Vote
                    </button>
                  </li>
                  
                </ul>

                <br />
                <!-- <hr> -->
              </div>

              <br /><br />
            </div>

            <!-- <div *ngIf="election.is_active == 1" class="col-1 col-sm-1 col-lg-2" style="padding: 0px">
                <ion-icon name="arrow-forward-outline" (click)="getNominee(election.survey_id, election.is_active, election.is_eligible, election.cons_id)"></ion-icon>
                 <a (click)="getNominee(election.survey_id, election.is_active, election.is_eligible, election.cons_id)" ><img src="/assets/images/arrow_right.png" class="home-icon"> </a>          
              </div> -->
          </div>
        </a>
      </div>

      <br />
    </div>
  </div>
</ion-content>
