<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title slot='secondary' color='light'>More</ion-title>
    <ion-title slot='end'>
     
        <img src="https://netahub.com/images/user/{{profilepic}}" class="profile-image" [routerLink]="['/profile']">
      
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">

  <div class="row settings">
    <div class="col-6" [routerLink]="['/profile']">
      <div class="sub-section">
        <ion-icon name="person-circle-outline"></ion-icon>
        <br>
      <span > My Profile </span>
    </div>
    </div>
    <div class="col-6" [routerLink]="['/update-consituency']">
      <div class="sub-section">
        <ion-icon name="ribbon-outline"></ion-icon>
        <br>
        <span > My Constituency </span>
      </div>
    </div>
    <div class="col-6" [routerLink]="['/feedbackpage']">
      <div class="sub-section">
        <ion-icon name="reader-outline"></ion-icon>
        <br>
        <span > Feedback </span>
      </div>
    </div>
    <div class="col-6" [routerLink]="['/faq']">
      <div class="sub-section">
        <ion-icon name="help-outline"></ion-icon>
        <br>
        <span > FAQs </span>
      </div>
    </div>
    <div class="col-3"></div>
    <div class="col-6" [routerLink]="['/login']">
      <div class="sub-section">
        <ion-icon name="power-outline"></ion-icon>
        <br>
        <span> Logout </span>
      </div>
    </div>
  </div>
 <!--  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">More</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list no-padding>
  <ion-item  [routerLink]="['/profile']">
    <ion-label>My Profile</ion-label>
  </ion-item>

  <ion-item  [routerLink]="['/update-consituency']">
    <ion-label>My Constituency</ion-label>
  </ion-item>
 
  <ion-item [routerLink]="['/feedbackpage']">
    <ion-label>Feedback</ion-label>
  </ion-item>
  <ion-item [routerLink]="['/faq']">
    <ion-label>FAQs</ion-label>
  </ion-item>
  <ion-item [routerLink]="['/login']">
    <ion-label>Logout</ion-label>
  </ion-item>
</ion-list> -->

</ion-content>
