ion-header, ion-toolbar { 
	--background: linear-gradient(#00cfcf,#00cfef) !important;
 }

ion-title{
  color: #000000;
  font-weight: bold;
}

.netahub {
 border-radius: 50%;
 width: 100px; height: 100px;
 margin-bottom: 25px;
 }



  ion-back-button { display: block; }

 .arrow { height: 25px;
 width: auto;}
   .btn-vote {
	background-image: linear-gradient(#00cccc, #00cced);
	text-align: center;
	color: #ffffff;
	border: none;
	border-radius: 20px !important;
	width: 100%;
	padding: 7px 35px;
	font-size: 16px;
}

.btn-voted {
	background-color: green;
	text-align: center;
	color: #ffffff !important;
	border: none;
	border-radius: 20px !important;
	width: 100%;
	padding: 7px 35px;
	font-size: 16px;
}

.info{
	
	margin: 50px 10px;
}

.section-detail h3{
	font-size: 24px;
	font-weight: bold;
}

.section-detail p{
	padding-top: 10px;
}