<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
    	<ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title slot='secondary' color='light'>Details</ion-title>
    <ion-title slot='end'>
     
      	<img src="https://netahub.com/images/user/{{user_pic}}" class="profile-image" [routerLink]="['/profile']">
      
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="align-right">
    </ion-toolbar>
  </ion-header>

<ion-content>

	<div class="top-profile">
			<img *ngIf="profilepic != ''" src="https://netahub.com/images/user/{{profilepic}}" class="netahub" (click)="addNewToGallery(token)">
			<img *ngIf="profilepic == ''" src="/assets/images/user.png" class="netahub" (click)="addNewToGallery(token)">
			
			<!-- <ion-img role="button" class="image" [src]="'https://netahub.com/images/user/'+profilepic" *ngIf="selectedImage" ></ion-img> -->
			<!-- <span>{{selectedImage}}</span> -->
			<h4>{{display_name}}</h4>
		</div>
	<div class="row">
		

		<div class="col-12 col-sm-8  container info">
			<div class="section-detail">
				<h3>{{nominee_name}}</h3>
				<h6>{{party_name}}</h6>
				<h4 *ngIf="user_information != ''">About Me</h4>
				<p>{{user_information}}</p>
			</div>

			<div class="section-vote">
				<div class="row">
					<div class="col-3 col-sm-4"></div>
					<div class="col-6 col-sm-4">
						<a *ngIf="voted == 1" class="btn-voted">Voted</a>
						<a *ngIf="voted != 1" class="btn-vote"  (click)="castVote(nominee_id, survey_id)" >Vote</a>
					</div>
					<div class="col-3 col-sm-4"></div>
				</div>
			</div>
			
		</div>

		
	</div>

</ion-content>
