<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
    	<ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title slot='secondary' color='light'>My Consituency</ion-title>
    <ion-title slot='end'>
     
      	<img src="https://netahub.com/images/user/{{profilepic}}" class="profile-image" [routerLink]="['/profile']">
      
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
	<div class="top">
			<img src="/assets/images/netahub.png" class="img-responsive netahub">

			<div class="row text-center">
				<div class="">
					<button (click)="updateall()" class="btn-next">Submit</button>
				</div>
			</div>
		</div>


		
		<div class="section-register">
			
			<div class="constituency">
			<div class="row header2">
	          <div class="col">Election Name</div>
	          <div class="col">Constituency Name</div>
	          <div class="col">Action</div>
	          
	        </div>
	        <div class="row constituency-data" *ngFor="let category of constituency">
	          <div class="col">{{category.election_name}}</div>
	          <div class="col">{{category.cons_name}}</div>
	          <div class="col"><button class="btn-remove" (click)="add(category)">remove</button></div>
	        </div>
	    </div>
			
		</div>
</ion-content>
