ion-header, ion-toolbar { 
	--background: linear-gradient(#00cfcf,#00cfef) !important;
 }

 ion-title{
  color: #000000;
  font-weight: bold;
}

ion-back-button { display: block; }

.netahub { 
	width: 50%;
	margin: 45px 25%;
}

.section-register {
    top: 25%;
    }

    @media screen and (min-width:768px){
    .netahub { 
	width: 30%;
	margin: 45px 35%;
}
    .section-register {
    top: 25%;
    }
    }