ion-header, ion-toolbar { 
  --background: linear-gradient(#00cfcf,#00cfef) !important;
 }

 ion-title{
  color: #000000;
  font-weight: bold;
}

 ion-back-button { display: block; }

ion-row{
	text-align: left
}

.btn-next {
    background-image: linear-gradient(#00cccc, #00cced);
    text-align: center;
    margin: 20px 0;
    margin-left: 10px;
    border: none;
    border-radius: 40px !important;
    width: 100%;
    padding: 8px 11px;
    font-size: 16px;
    color: #fff;
}

.btn-remove {
    background-image: linear-gradient(#00cccc, #00cced);
    text-align: center;
    margin-left: 10px;
    border: none;
    border-radius: 3px !important;
    width: 75px;
    padding: 5px 7px;
    font-size: 12px;
    color: #fff;
}

.section-register{
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.2);
}

.text-center {
	text-align: center !important;
	width: 90%;
	margin: 0 5%;
}

.header2{
	width: 100%;
    z-index: 10;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    background-image: linear-gradient(#00cccc, #00cced);
    border-bottom: 1px solid #555;
}

.header2 .col {
	color: #fff;
	font-weight: bold;
}

.constituency-data{
	margin: 10px 2% 5px;
	width:96%;

	background-color: #efefef;
	padding: 10px;
}
.constituency-data .col{
	font-size: 12px;
}

.btn-next {
    background-image: linear-gradient(#fff, #fff);
    text-align: center;
    margin: 20px 0;
     border: 1px solid rgba(0,0,0,0.2);
    border-radius: 40px !important;
    width: 100%;
    padding: 8px 23px;
    font-size: 16px;
    color: #0d9c9c !important;
}

.table{ border-radius: 10px;     margin-bottom:25px; }

.constituency thead{
    background-image: linear-gradient(#00cccc, #00cced);

}

.select-tab{
    background: #fff; width: 100%;
    margin-bottom: 10px;
    text-align: left !important;
    height: 45px;
}

.select-tab ion-select-option{
    font-size: 14px;
}


.select-tab label{
    padding:  5px;
    font-size: 16px;
    margin-top: 8px;
}





.constituency tbody td{
    font-size: 12px;

}

.selection{
margin-top: 25px;
    padding:25px;
    width:100%;
}


tbody tr{
    background-color: #eee;
    border: 10px solid #fff;
    padding: 25px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}