<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
    	<ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title slot='secondary' color='light'>State</ion-title>
    <ion-title slot='end'>
     
      	<img src="https://netahub.com/images/user/{{profilepic}}" class="profile-image" [routerLink]="['/profile']">
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="top">
			<img src="/assets/images/netahub.png" class="img-responsive netahub">
		</div>
		<div class="section-register">
			<div class="section-mid">
				<form method="post" >
					<ion-item>
					    <ion-label>state</ion-label>
					    <ion-select required [(ngModel)]="requestData.userstate" (change)="updatebtn()" name="userstate" >
					      <ion-select-option value="{{category.state_id}}" *ngFor="let category of state">{{category.state_name}}</ion-select-option>
					
					    </ion-select>
					  </ion-item>
					<div class="row">
						<div class="next-button">
							<button ion-button (click)="sendPostRequest()" class="btn-next">{{btntext}}</button>
						</div>
					</div>
					</form>
				<br>
			</div>
		</div>
</ion-content>
