ion-header, ion-toolbar { 
  --background: linear-gradient(#00cfcf,#00cfef) !important;
 }

 ion-back-button { display: block; }

 .section-register{
 margin-top: 45px;
 }

 ion-title{
  color: #000000;
  font-weight: bold;
}
