ion-header, ion-toolbar { 
	--background: linear-gradient(#00cfcf,#00cfef) !important;
 }

 ion-title{
  color: #000000;
  font-weight: bold;
}

ion-back-button { display: block; }

 .arrow { height: 25px;
 width: auto;}

 .settings{
 	text-align: center;
 }

 .pencil{
 height: 15px; width: auto; margin-top: 10px;
 }

 .netahub {
 border-radius: 50%;
 width: 100px; height: 100px;
 }