<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
    	<ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title slot='secondary' color='light'>Profile</ion-title>
    <ion-title slot='end'><img src="https://netahub.com/images/user/{{profilepic}}" class="profile-image" [routerLink]="['/profile']"></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<div class="top-profile">
			<img src="https://netahub.com/images/user/{{profilepic}}" class="netahub" (click)="addNewToGallery(token)">
			<img *ngIf="photo" [src]="photo"/>
			<!-- <ion-img role="button" class="image" [src]="'https://netahub.com/images/user/'+profilepic" *ngIf="selectedImage" ></ion-img> -->
			<!-- <span>{{selectedImage}}</span> -->
			<h4>{{display_name}}</h4>
		</div>


		<div class="section-profile container-fluid">
			<form class="profile-form">

				<div class="row">

					<div class="col-12 col-sm-6">
						<div class="row input-field">
							<div class="col-6 col-sm-6">
								<!-- <span>{{customerror}}</span> -->
							<span>UserId</span>
							</div>
							<div class="col-6 col-sm-6">
								<div class="form-control">
									<input type="text" class="profile-input" value="{{user_name}}">
								</div>
							</div>
						</div>
					</div>

					
							<div class="col-12 col-sm-12 gender">
								<div class="row input-field">
									<div class="col-3 col-sm-3">
										<span>Gender</span>
									</div>
									<div class="col-9 col-sm-9">
										<div class="form-control">
											<input type="text" class="profile-input" value="{{gender}}">
										</div>
									</div>					
									
								</div>
							</div>
						
					
							<div class="col-12 col-sm-12 age">
								<div class="row input-field">
									<div class="col-3 col-sm-3">
										<span>Age</span>
									</div>
									<div class="col-9 col-sm-9">
										<div class="form-control">
											<input type="text" class="profile-input" value="{{dateofbirth}}">
										</div>
									</div>					
								</div>
							</div>
						
					<div class="col-12 col-sm-6">

						<div class="row input-field">
							<div class="col-3 col-sm-3">
								<span>Email</span>
							</div>
							<div class="col-9 col-sm-9">
								<div class="form-control">
									<input type="text" class="profile-input" value="{{email_id}}">
								</div>
							</div>					
						</div>
					</div>

					<div class="col-12 col-sm-6">
						<div class="row input-field">
							<div class="col-6 col-sm-6">
								<span>Mobile No</span>
							</div>
							<div class="col-6 col-sm-6">
								<div class="form-control">
									<input type="text" class="profile-input" value="{{mobile_no}}">
								</div>
							</div>					
						</div>
					</div>

					<div class="col-12 col-sm-6">
						<div class="row input-field">
							<div class="col-3 col-sm-3">
								<span>Address</span>
							</div>
							<div class="col-9 col-sm-9">
								<div class="form-control">
									<input type="text" class="profile-input" value="{{village_name}}">
								</div>
							</div>					
						</div>
					</div>

					<div class="col-12 col-sm-6">
						<div class="row input-field">
							<div class="col-3 col-sm-3">
								<span>Society</span>
							</div>
							<div class="col-8 col-sm-8">
								<div class="form-control">
									<input type="text" class="profile-input" value="{{society_name}}">
								</div>
							</div>
							<div class="col-1 col-sm-1">
									<img src="/assets/images/pencil.png" class="pencil" (click)="editsociety()" >
								</div>
							</div>					
						</div>
					

					<div class="col-12 col-sm-6">
						<div class="row input-field">
							<div class="col-3 col-sm-3">
								<span>Qualif.</span>
							</div>
							<div class="col-9 col-sm-9">
								<div class="form-control">
									<input type="text" class="profile-input" value="{{qualification}}">
								</div>
							</div>					
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="row input-field">
							<div class="col-6 col-sm-6">
								<span>Occup.</span>
							</div>
							<div class="col-6 col-sm-6">
								<div class="form-control">
									<input type="text" class="profile-input" value="{{occupation}}">
								</div>
							</div>					
						</div>
					</div>

					<div class="col-12 col-sm-6">
						<div class="row input-field">
							<div class="col-5 col-sm-5">
								<span>College.</span>
							</div>
							<div class="col-6 col-sm-6">
								<div class="form-control">
									<input type="text" (click)="editcollege()" class="profile-input" value="{{college_name}}">
								</div>
							</div>
							<div class="col-1 col-sm-1">
									<img src="/assets/images/pencil.png" class="pencil" (click)="editcollege()" >
								</div>
							</div>						
						
					</div>

					<div class="row">
						<div class="col-4"></div>
						<div class="col-4">
							<button routerLink="/select-pincode" class="btn btn-next">Edit</button>
						</div>
						<div class="col-4"></div>
					</div>
				</div>

				</form>
			</div>

</ion-content>
