ion-header, ion-toolbar { 
  --background: linear-gradient(#00cfcf,#00cfef) !important;
 }

ion-menu-button {
  color: var(--ion-color-primary);
}

ion-back-button { display: block; }

ion-title{
  color: #000000;
  font-weight: bold;
}


#container {
  text-align: left;
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}


#container a {
  text-decoration: none;
}



 .electionMain{
 border-radius: 7px;
 }