<ion-header [translucent]="true" >
  <ion-toolbar >
    <!-- <ion-buttons slot="start"> -->
      <!-- <ion-menu-button color="light"></ion-menu-button> -->
      <!-- </ion-buttons> -->
      <ion-title slot="start" color="light">Elections</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Elections</ion-title>
      </ion-toolbar>
    </ion-header>

    <div id="container">
      <div class="background-section"></div>
      <div class="section-text">

        <div class="section-main" *ngFor="let election of electiondata">
          <a >
            <div class="row electionMain" >
              <div class="col-4 col-sm-3 col-lg-2 ">
                <img src="https://netahub.com/images/{{election.election_image}}" class="home-images">
              </div>
              <div (click)="showDetails(election.election_description)" class="col-7 col-sm-7 col-lg-8">

                <h5 ><b>{{election.election_name}}</b></h5>
                <p class="balanced">{{election.election_description.substring(0,80)}}... </p>
              </div>
              <div class="col-1 col-sm-2 col-lg-2" style="padding: 0px">
                <a (click)="getNominee(election.election_id, election.is_active, election.is_eligible)"><img src="/assets/images/arrow_right.png" class="home-icon"> </a>         
              </div>
            </div>
          </a>
        </div>

        <br>
      </div>
    </div>
  </ion-content>
