<!-- <ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<div class="top">
	<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@next/css/ionic.bundle.css"/>

			<!-- <h2><b>NETA</b>HUB</h2> -->

			<img src="/assets/images/netahub.png" class="img-responsive netahub">
		</div>


		<div class="section-register">

			<div class="section-mid">
				<form method="post" >


					<div class="input-text">
					<label>Name</label>
						<div class="row">
							<div class="col-9 col-sm-9 col-lg-9">
								<ion-input [(ngModel)]="requestData.name" type="text" class="input-1" name="user_name" placeholder="Name Here"></ion-input>			
							</div>
							<div class="col-3 col-sm-3 col-lg-3 phone-icon">								
								<i class='fas fa-user' style='font-size:16px; '></i>
							</div>
						</div>
					</div>


					<div class="input-text">
					<label>Email</label>
						<div class="row">
							<div class="col-9 col-sm-9 col-lg-9">
								<ion-input [(ngModel)]="requestData.email" type="email" class="input-1" name="email" placeholder="Email Here"></ion-input>			
							</div>
							<div class="col-3 col-sm-3 col-lg-3 phone-icon">								
								<i class='fas fa-phone-alt' style='font-size:16px; '></i>
							</div>
						</div>
					</div>


					<div class="input-text">
					<label>Mobile Number</label>
						<div class="row">
							<div class="col-9 col-sm-9 col-lg-9">
								<ion-input [(ngModel)]="requestData.mobile" type="text" class="input-1" name="mobile_no" placeholder="Phone Number Here"></ion-input>			
							</div>
							<div class="col-3 col-sm-3 col-lg-3 phone-icon">								
								<i class='fas fa-phone-alt' style='font-size:16px; '></i>
							</div>
						</div>
					</div>



					<div class="input-text">
					<label>Password</label>
						<div class="row">
							<div class="col-9 col-sm-9 col-lg-9">
								<ion-input [(ngModel)]="requestData.password" type="password" class="input-1" name="user_password" placeholder="********"></ion-input>			
							</div>
							<div class="col-3 col-sm-3 col-lg-3 phone-icon">								
								<i class='fas fa-eye' style='font-size:16px; '></i>
							</div>
						</div>
					</div>



					 <div  class="input-text">
					    					<label>Gender</label>
					    <ion-select [(ngModel)]="requestData.gender" name="gender"  placeholder="Select Gender">
					      <ion-select-option value="M">Male</ion-select-option>
					      <ion-select-option value="F">Female</ion-select-option>
					      <ion-select-option value="O">Other</ion-select-option>
					
					    </ion-select>
					  </div>

					   <div  class="input-text">
					    					<label>Date Of Birth</label>
					    <ion-datetime  [(ngModel)]="requestData.dob" name="dob"  display-format="YYYY-MM-DD" placeholder="YYYY-MM-DD"></ion-datetime>
					    
					  </div>

					  <div class="input-text">
					<label>Qualification</label>
						<div class="row">
							<div class="col-9 col-sm-9 col-lg-9">
								<ion-input [(ngModel)]="requestData.qualification" type="text" class="input-1" name="qualification" placeholder="" placeholder="Qualification Here"></ion-input>			
							</div>
							<div class="col-3 col-sm-3 col-lg-3 phone-icon">								
								<i class='fas fa-phone-alt' style='font-size:16px; '></i>
							</div>
						</div>
					</div>

					<div class="input-text">
					<label>Occupation</label>
						<div class="row">
							<div class="col-9 col-sm-9 col-lg-9">
								<ion-input [(ngModel)]="requestData.occupation" type="text" class="input-1" name="occupation" placeholder="Occupation Here"></ion-input>			
							</div>
							<div class="col-3 col-sm-3 col-lg-3 phone-icon">								
								<i class='fas fa-phone-alt' style='font-size:16px; '></i>
							</div>
						</div>
					</div>


					<div class="input-text">
					<label>Referred By(optional)</label>
						<div class="row">
							<div class="col-9 col-sm-9 col-lg-9">
								<ion-input [(ngModel)]="requestData.referred_by" type="text" class="input-1" name="Referrer Code" placeholder="Referred By"></ion-input>			
							</div>
							
						</div>
					</div>


					<div class="row">
						<div class="next-button">
							<button ion-button (click)="sendPostRequest()" class="btn-next">SignUp</button>
						</div>
					</div>
				</form>
				<br>
			</div>
		</div>

		<div class="bottom2">
			
			<h6>Already have an account? <b><a (click)="getLogin()">Login</a></b></h6>
		</div>
</ion-content>
