ion-header, ion-toolbar { 
	--background: linear-gradient(#00cfcf,#00cfef) !important;
 }

ion-title{
  color: #000000;
  font-weight: bold;
}


 .select-placeholder{
 font-size: 14px; font-weight: bold;
 }

 ion-select{
 font-size: 12px;
    font-weight: bold;
 }

 ion-datetime{
 font-size: 12px;
    font-weight: bold;
 }



 .bottom2 h6 {
    font-size: 12px;
    margin-top: 110vh;
    margin-bottom: 45px;
    text-align: center;
    }


    